/* THESE ARE THE MAIN FONTS FOR THE PROJECT */
/* 
font-family: 'Aboreto', cursive;
font-family: 'Aguafina Script', cursive;
font-family: 'Alegreya SC', serif;
font-family: 'Bilbo', cursive;
font-family: 'Cookie', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Oranienbaum', serif;
font-family: 'Poiret One', cursive;
font-family: 'Wire One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Noto Serif Display', serif;
 */

/* * {
  border: blue dotted;
} */

body {
  background: hsla(312, 66%, 76%, 1);
  background: linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ea98da", endColorstr="#5b6cf9", GradientType=1);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  color: white;
}

.content-padding {
  padding-top: 115px;
}

h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif Display', serif !important;
  font-weight: 900;

}

.card {
  border: none !important;
}

/* ========== START NAV STYLES ========== */
.navbar-custom-css {
  border-style: none;
  padding-top: 0;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: #243E8C;
  transition: background-color 0.3s;
}


.navigation-clean-button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.nav-container-custom-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline !important;
  letter-spacing: .1rem;
}

.brand {
  font-family: 'Great Vibes', cursive;
  letter-spacing: .1rem;
  margin-top: 1rem;
  font-size: clamp(2.5rem, 1.6vw, 3.5rem);
  margin-bottom: 0.1rem !important;
}

.secondary-brand-size {
  font-size: clamp(.8rem, 1.6vw, 1rem);
  padding-top: 1px;
}

.secondary-brand-styles {
  font-family: 'Aboreto', cursive;
  font-weight: 100;
  justify-content: center;
}

.nav-link-custom-css {
  color: white;
  font-size: clamp(.9rem, 1.6vw, 1.2rem);
  font-weight: 500 !important;
  font-family: 'Aboreto', cursive;
  ;
}

.actions .navigation-clean-button {
  margin-top: 7px;
  margin-bottom: 0;
}

.navigation-clean-button .actions .login {
  margin-right: 7px;
  text-decoration: none;
}

.navMenu {
  text-align: right;
}

.navbar-nav {
  justify-content: flex-end;
}

/* ========== END NAV STYLES ========== */

/* ========== START ANIMATED MOBILE MENU STYLES ========== */
.animated-mobile-menu {
  z-index: 1000;
  display: none;
  position: absolute;
  top: -80px;
  right: 12px;
}

.menu {
  width: 40px;
  height: 40px;
  margin: 8px;
  background-image: linear-gradient(to right, #e91e63, #f44336);
  border-radius: 5px;
  cursor: pointer;
}

.menu div {
  height: 22px;
  width: 22px;
  margin: 9px;
  position: relative;
}

.menu span {
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1 {
  transform: translate(-50%, -6px);
}

.menu .line-3 {
  transform: translate(-50%, 4px);
}

.openmenu .line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2 {
  width: 0;
}

.navMenu.openmenu {
  display: none !important;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 41, 135, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-image: linear-gradient(135deg, #9e9ef3, #4a4ab0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  font-family: 'Aboreto', cursive;
  font-size: clamp(1.2rem, 1.6vw, 1.7rem);
}

.overlay-menu.d-flex {
  opacity: 1;
  visibility: visible;
}

.overlay-menu ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: white;
}

.overlay-menu ul li.active a {
  text-decoration: underline;
}

.overlay-menu li {
  padding: 1rem;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.overlay-menu.open {
  opacity: 1;
  visibility: visible;
}

.overlay-menu.open li {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.overlay-menu li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay-menu li:nth-child(2) {
  transition-delay: 0.2s;
}

.overlay-menu li:nth-child(3) {
  transition-delay: 0.3s;
}

.overlay-menu li:nth-child(4) {
  transition-delay: 0.4s;
}

/* ========== END ANIMATED MOBILE MENU STYLES ========== */

/* ========== START HERO STYLES ========== */
.hero-container {
  background-color: inherit;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.photo-container {
  width: 45vw;
  height: auto;
  overflow: visible;
}

.cd-photo {
  background-image: url('./assets/images/cd-photo-hero.png');
  background-size: cover;
  background-position: top;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  margin-left: 2rem;
  max-height: 100%;
  width: 100%;
  min-height: 60vh;
  transition: all 0.5s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}

.hero-text {
  font-family: 'Aboreto', cursive;
  color: white;
  /* letter-spacing: .2rem; */
  font-weight: 300;
  font-size: clamp(3rem, 1.6vw, 4rem);
  margin-right: 2rem;
  text-align: right;
}

.custom-card-styles {
  background-color: inherit;
  color: white;
  align-items: center;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}

.card-title {
  color: rgb(158, 41, 135);
  font-weight: bold;
}

.card-subtitle {
  font-weight: 200;
}

.card-link {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.card-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(158, 41, 135);
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.cd-group-photo {
  background-image: url('./assets/images/cd-group-photo.jpeg');
  background-size: cover;
  background-position: center;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  max-height: 100%;
  /* width: 40%; */
  min-height: 50vh;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.join-convo-text,
.event-header {
  display: flex !important;
  justify-content: center;
}

.join-convo-text {
  font-weight: 600;
  color: rgb(233, 233, 233);
}

.event-header {
  font-weight: 200;
  color: rgb(233, 233, 233);

}

.event-styles {
  border: 1px solid #243E8C;
  border-radius: 10px;
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: larger;
  font-weight: 550;
  height: 100%;
}

.event-info {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: medium;
}

/* ~~~Button Styles~~~ */
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-moving-gradient {
  height: 3rem;
  width: 10rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}

.btn-moving-gradient:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
}

.btn-moving-gradient--blue {
  background-image: linear-gradient(90deg, #d76ac1, #9e2987, #8484f8, #4a4ab0);
  box-shadow: #000000 0px 1px 2px 0px;
}

.btn-moving-gradient--donate {
  background-image: linear-gradient(90deg, #d76ac1, #9e2987, #8484f8, #4a4ab0);
  box-shadow: #ffffff 0px 0px 15px 0px;
}

/* ========== END HERO STYLES ========== */

/* ========== START ABOUT SECTION STYLES ========== */
.cd-about-photo {
  background-image: url('./assets/images/cd-about-photo.png');
  background-size: cover;
  background-position: top;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  margin-left: 2rem;
  max-height: 100%;
  width: 100%;
  min-height: 70vh;
  transition: all 0.5s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}

.about-hero-text {
  font-family: 'Aboreto', cursive;
  color: white;
  /* letter-spacing: .2rem; */
  font-weight: 300;
  font-size: clamp(3rem, 1.6vw, 4rem);
  margin-right: 2rem;
  text-align: left;
  border-radius: 10px;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 10px !important;
}

.timeline {
  position: relative;
  margin-top: 22px;
  list-style: none;
  padding: 4px 0 0;
}

.timeline>li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 11.25rem;
  right: -5rem;
}

.timeline>li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 11.25rem;
  left: -5rem;
}

.timeline>li:before,
.timeline>li:after {
  content: "";
  display: table;
}

.timeline>li:after {
  clear: both;
  min-height: 10.625rem;
}

.timeline>li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  text-align: right;
  padding: 0 20px 20px 100px;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 7px solid #bf164d;
  border-radius: 100%;
  background-color: #bf164d;
  /* box-shadow: 0 0 5px #ccc; */
  width: 12.5rem;
  height: 12.5rem;
  margin-left: -100px;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}


.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  text-align: left;
  padding: 0 100px 20px 20px;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-bottom: 4px;
  color: #b3b3b3;
  padding: 0;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 0;
}

.timeline-body,
.priorities-modal,
.said-quote,
.vision-box-text,
.volunteer-card-text {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 200;
  font-size: medium;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
  color: gray;
}

.timeline>li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 7.75rem;
  bottom: 0;
  left: 43.125rem;
  width: 4px;
  height: 11.25rem;
  background-color: #bf164d;
  -ms-transform: rotate(-44deg);
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
  box-shadow: 0 0 5px #ccc;
}

.timeline>li:nth-child(even) .line:before {
  content: "";
  position: absolute;
  top: 9.75rem;
  bottom: 0;
  left: 33.125rem;
  width: 4px;
  height: 11.25rem;
  background-color: #bf164d;
  -ms-transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg);
  box-shadow: 0 0 5px #ccc;
}

.timeline>li .timeline-panel:before,
.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after,
.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/*  */
img,
svg {
  vertical-align: middle;
}

/* ========== END ABOUT SECTION STYLES ========== */

/* ========== START ISSUES STYLES ========== */
.cd-issues-photo {
  background-image: url('./assets/images/cd-issues-photo.png');
  background-size: cover;
  background-position: top;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  margin-left: 2rem;
  max-height: 100%;
  width: 100%;
  min-height: 70vh;
  transition: all 0.5s ease;
}

.issues-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.issues-hero-text {
  font-family: 'Aboreto', cursive;
  color: white;
  /* letter-spacing: .2rem; */
  font-weight: 300;
  font-size: clamp(3rem, 1.6vw, 4rem);
  margin-right: 2rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-self: flex-end;
  text-align: left;
  margin-bottom: 10px !important;
}

.issues-header-text {
  font-family: 'Aboreto', cursive;
  color: white;
  /* letter-spacing: .2rem; */
  font-weight: 300;
  font-size: clamp(3rem, 1.6vw, 4rem);
  margin-top: 2rem;
  text-align: center;
}

.dropdown-right {
  justify-content: flex-end;
}

.dropdown-left {
  justify-content: flex-start;
}

.priority-dropdown-styles {
  width: 30vw;
  min-width: fit-content;
}

.decoration-none {
  list-style: none;
}

button.close {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  outline: inherit;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
}

.priority-card-link {
  position: relative;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}

.priority-card-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(158, 41, 135);
  margin-top: 5px;
  /* Adjust this value to change the distance between the text and the line */
  margin-left: -5px;
  /* Adjust this value to extend the line to the left */
  margin-right: -5px;
  /* Adjust this value to extend the line to the right */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.issues-container-margin-top {
  margin-top: 1.375rem;
}

/* ========== END ISSUES SECTION STYLES ========== */

/* ========== START VISION SECTION STYLES ========== */
.cd-vision-photo {
  background-image: url('./assets/images/cd-vision-photo.png');
  background-size: cover;
  background-position: left;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  margin-left: 2rem;
  max-height: 100%;
  width: 100%;
  min-height: 70vh;
  transition: all 0.5s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}

.vision-quote {
  max-width: calc(619px + 371 * ((100vw - 1280px) / 720));
}

.vision-card-link {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.vision-card-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(158, 41, 135);
  margin-top: 5px;
  /* Adjust this value to change the distance between the text and the line */
  margin-left: -100px;
  /* Adjust this value to extend the line to the left */
  margin-right: -100px;
  /* Adjust this value to extend the line to the right */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.community-care-section h4 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.community-care-section .border {
  border: 1px solid #243E8C !important;
  border-radius: 10px;
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

}

.community-care-section .rounded {
  border-radius: 8px;
}

.community-care-section .p-3 {
  padding: 1rem;
}

.line-vision-sections {
  border-bottom: 2px solid rgb(158, 41, 135);
  margin-top: 20px;
}



/* ========== END VISION SECTION STYLES ========== */

/* ========== START GET INVOLVED SECTION STYLES ========== */
.cd-volunteer-photo {
  background-image: url('./assets/images/cd-volunteer-photo.jpeg');
  background-size: cover;
  background-position: center;
  animation: 1.8s ease 0s 1 zoomIn;
  -webkit-animation: 1.8s ease 0s 1 zoomIn;
  max-height: 100%;
  /* width: 40%; */
  min-height: 50vh;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.rectangle-section {
  border: 4px rgba(250, 250, 250, 0.859);
  padding: 20px;
  border-radius: 4px;
}

.bg-light-gray {
  background-color: rgba(250, 250, 250, 0.859);
}

.bg-light-blue {
  background-color: #9e9ef3;
  margin-top: 0 !important;
}

.bg-dark-blue {
  background-image: linear-gradient(135deg, #4a4ab0, #9e9ef3);
  margin-top: 0 !important;
  color: white;
}

.bg-multi {
  background: radial-gradient(farthest-corner at 110% 100%, rgba(212, 124, 184, 0.72) 0%, rgba(221, 231, 248, 0.15) 40% 0%), radial-gradient(rgba(200, 211, 216, 0.16), rgba(138, 161, 199, 0.16)), radial-gradient(farthest-corner at -10% 95%, #366fcc, rgba(241, 246, 255, 0.35) 45%), radial-gradient(circle at left, #688dd3 0, #ffffff, #f2d9f3 100%);
}

.bg-blue-fuschia {
  background: linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ea98da", endColorstr="#5b6cf9", GradientType=1);
}

.volunteer-card-background {
  background: hsla(312, 66%, 76%, 1);
  background: linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, rgb(148, 158, 248) 100%);
  background: -moz-linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, rgb(148, 158, 248) 100%);
  background: -webkit-linear-gradient(180deg, hsla(312, 66%, 76%, 1) 0%, rgb(148, 158, 248) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ea98da", endColorstr="#5b6cf9", GradientType=1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.blue-wrapper {
  background: linear-gradient(90deg, #25408A 0%, #567DD5 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.responsive-icon {
  width: 5vw;
  height: 5vw;
  min-width: 36px;
  max-width: 45px;
  min-height: 36px;
  max-height: 45px;
}

.volunteer-card img {
  max-width: 100px;
}

.voter-info img {
  max-width: 100px;
}

.voter-info {
  text-align: center;
}

.bold-form-label {
  font-weight: 400;
}

.volunteer-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.volunteer-title,
.volunteer-content-text,
.events-title,
.voter-registration-title,
.contribution-content-text,
.contribution-title {
  color: white;
}

.election-registration-information-background {
  background: rgb(148, 158, 248);
  background: linear-gradient(180deg, rgb(148, 158, 248) 0%, hsla(312, 66%, 76%, 1) 100%);
  background: -moz-linear-gradient(180deg, rgb(148, 158, 248) 0%, hsla(312, 66%, 76%, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgb(148, 158, 248) 0%, hsla(312, 66%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#5b6cf9", endColorstr="#ea98da", GradientType=1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


/* ========== END GET INVOLVED SECTION STYLES ========== */

/* ========== START FOOTER STYLES ========== */
footer {
  color: white;
}

/* ========== START FOOTER STYLES ========== */

/* ========== START MEDIA QUERIES ========== */
/* Large devices (min-width: 1200px) */
@media (min-width: 1200px) {
  .timeline>li:nth-child(odd) .line:before {
    top: clamp(10rem, 9rem, 13rem);
    left: clamp(42rem, 40rem, 44rem);
    height: 9.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: clamp(9rem, 9rem, 10rem);
    left: clamp(32rem, 29rem, 35rem);
    height: 9.25rem;
  }
}

/* media query specifically for iPad Pro 
(min-width: 768px) and (max-width: 1024px) and (min-height: 800px) and (max-height: 1200px)
*/
@media (min-width: 1023px) and (max-width: 1024px) and (min-height: 1365px) and (max-height: 1366px) {
  .cd-photo {
    width: 70vw;
    min-height: 55vh;
    margin-left: -3.5rem;
  }
}



@media (min-width: 992px) and (max-width: 1199px) {

  .cd-about-photo,
  .cd-issues-photo, .cd-vision-photo {
    width: auto;
    background-position: left;
    min-height: auto;
    margin-left: auto;
  }

  .about-photo-margins {
    margin-bottom: 8rem !important;
    margin-top: 2rem;
    padding-right: 0.5rem;
  }

  .container-padding {
    padding-left: 0;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 30px;
  }

  .timeline>li .timeline-panel {
    padding: 0 30px 20px 100px;
  }

  .timeline>li:nth-child(even) {
    right: -2.5rem;
  }

  .timeline>li:nth-child(odd) .line:before {
    top: 10rem;
    left: 33rem;
    height: 6.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: 10rem;
    left: 25rem;
    height: 6.25rem;
  }

  .priority-dropdown-styles {
    width: 34vw;
  }
}

/* Medium devices (min-width: 992px) */
@media (min-width: 992px) {
  .card-title {
    font-size: clamp(1.5rem, 1.6vw, 2rem);
  }

  .card-subtitle {
    font-size: clamp(1.25rem, 1.6vw, 1.75rem);
  }

  .card-link {
    font-size: clamp(0.8rem, 1.6vw, 1rem);
  }

  .animated-mobile-menu {
    display: none;
  }

  .navMenu {
    display: flex !important;
  }

  .cd-about-photo, .cd-vision-photo {
    width: auto;
    background-position: top;
    min-height: 80vh;
    margin-left: auto;
  }

  .cd-issues-photo {
    width: auto;
    background-position: center;
    min-height: 80vh;
    margin-left: auto;
  }

  .about-photo-margins {
    margin-bottom: 8rem !important;
    margin-top: 2rem;
    padding-right: 0.5rem;
  }

  .container-padding {
    padding-left: 0;
  }
}

/* Medium and small devices (max-width: 992px) */
@media (max-width: 992px) {
  .card-body {
    width: 80vw;
  }

  .animated-mobile-menu {
    display: flex;
  }

  .navbar-nav {
    line-height: .7em;
  }

  .container-for-mediaquery {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    border: none;
    margin-right: 1rem !important;
    display: flex;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    padding: 1.2rem;
    margin-top: -4.5rem;
  }

  .nav-link-custom-css {
    display: flex;
    justify-content: flex-end;
    padding: .75rem;
    margin-right: 1rem !important;
  }

  .brand,
  .secondary-brand-styles {
    margin-left: 1.4rem;
  }

  .hero-container {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .photo-container {
    width: 20vw;
    height: auto;
    overflow: visible;
  }

  .cd-photo {
    width: 70vw;
    /* min-height: 40vh; */
    /* margin-left: -3.5rem; */
  }

  /* .mb-10 {
    margin-bottom: 8rem !important;
  } */

  .about-photo-margins {
    margin-bottom: 8rem !important;
    margin-top: 2rem;
    padding-right: 0.5rem;
  }

  .cd-about-photo, .cd-vision-photo {
    width: auto;
    background-position: top;
    min-height: auto;
  }

  .cd-issues-photo {
    width: auto;
    background-position: center;
    min-height: 40vh;
  }

  /* TODO: uncomment to update card body on hero page and get involved page (upcoming events)*/


  .stack-quote-photo {
    display: flex;
    flex-direction: column;
  }

  .cd-group-photo {
    min-height: 25vh;
    background-position: center;
    width: 80vw;
  }

  .timeline-container {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .issues-header-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
  }

  .about-hero-text {
    font-size: clamp(1.8rem, 4vw, 4rem);
    margin-right: 1rem;
  }

  .issues-hero-text {
    font-size: clamp(1.8rem, 4vw, 4rem);
    margin-top: 13rem !important;
  }

  .dropdown-left,
  .dropdown-right {
    justify-content: center;
  }

  .priority-dropdown-styles {
    width: 100%;
    min-width: fit-content;
    font-size: clamp(0.9rem, 1.6vw, 1rem);
  }

  .learn-more-btn-styles {
    font-size: clamp(.9rem, 1.6vw, 1rem);
  }

  .dropdown-menu {
    transform: translate3d(0px, 36px, 0px) !important;
  }
}

/* Extra small devices (max-width: 991px) */
@media (max-width: 991px) {
  .navMenu {
    display: none;
  }
}

@media (min-width: 820px) and (max-width: 912px) and (min-height: 1180px) and (max-height: 1368px) {
  .mb-10 {
    margin-bottom: 16rem !important;
  }

  .cd-photo {
    min-height: 50vh!important;
    margin-left: -1.5rem;
  }

  .hero-text {
    font-size: clamp(2.3rem, 4vw, 4rem)!important;
    margin-left: 1rem;
  }
}

/* Small devices (min-width: 768px) and (max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
    height: 13.75rem;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 70%;
    text-align: left;
    padding: 0 0 20px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    text-align: right;
    padding: 0 0 20px;
  }

  .timeline>li .line {
    display: none;
  }

  .timeline>li:nth-child(odd) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline .timeline-panel {
    padding-right: 40px;
  }

  .timeline.timeline-inverted .timeline-panel {
    padding-left: 40px;
  }

  .hero-text {
    font-size: clamp(2.5rem, 4vw, 4rem);
    margin-right: 1rem;
  }
}

/* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .photo-container {
    width: 30vw;
    height: auto;
    overflow: visible;
  }

  .cd-photo {
    margin-left: -0.5rem;
  }
}

/* Media query for extra small screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li .timeline-image {
    position: static;
    width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
    float: left;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    float: left;
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 40px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 40px 0;
  }

  .timeline>li .line {
    display: none;
  }

  .timeline>li .timeline-panel {
    text-align: left;
    left: 0;
  }
}

/* Media query for small to medium screens (min-width: 768px) and (max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li .timeline-panel {
    display: block;
    max-width: 420px;
    position: absolute;
    top: 0;
  }

  .timeline>li .timeline-image {
    display: block;
  }

  .timeline>li .timeline-image {
    position: relative;
  }

  .timeline>li {
    height: auto !important;
    margin: 0 auto !important;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 9.375rem;
  }

  .timeline>li .line {
    display: block;
  }

  .timeline>li:nth-child(odd) .line::before {
    left: 12rem;
  }

  .timeline>li:nth-child(even) .line::before {
    left: 10rem;
  }

  .timeline>li:nth-child(even) .timeline-panel,
  .timeline>li:nth-child(odd) .timeline-panel {
    left: 23.75rem;
    padding: 0 0 20px;
    text-align: left;
    width: 44%;
  }

  .timeline>li:after {
    min-height: 20px;
  }

}

/* Media query for extra small screens (max-width: 767px) */
@media (max-width: 767px) {
  .timeline>li:nth-child(odd) {
    height: 13.75rem;
  }

  .timeline>li .timeline-panel {
    float: none !important;
    display: block;
    max-width: 26.25rem;
  }

  .timeline>li .timeline-image {
    float: none !important;
    display: block;
  }

  .timeline>li .timeline-image {
    position: relative;
  }

  .timeline>li {
    height: auto !important;
    max-width: 28.125rem !important;
    margin: 0 auto !important;
  }

  .timeline>li:after {
    min-height: 0;
  }

  .timeline-image {
    margin-bottom: 2rem !important;
  }

  .timeline-panel {
    margin-bottom: 0 !important;
  }

  .vision-quote {
    max-width: none;
  }

  .about-hero-text {
    font-size: clamp(1.8rem, 4vw, 4rem);
    margin-bottom: 2rem !important;
  }

  .issues-hero-text {
    font-size: clamp(1.8rem, 4vw, 4rem);
  }
}

@media (min-width: 650px) and (max-width: 920px) {
  .cd-photo {
    min-height: 65vh;
  }
}

/* Media query for extra small screens (max-width: 575px) */
@media (max-width: 575px) {
  .rectangle-section {
    border-radius: 0;
  }
}

@media (min-width: 540px) and (max-width: 541px) {
  .hero-text {
    font-size: clamp(1.8rem, 4vw, 4rem);
  }

  .mb-10 {
    margin-bottom: 2.5rem !important
  }
}

@media (max-width: 539px) {
  .hero-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
    margin-right: -0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 415px) {
  .cd-photo {
    min-height: 37vh;
  }
}

/* iPhoneSE */
@media (max-width: 375px) {
  .hero-text {
    font-size: clamp(1.3em, 4vw, 4rem) !important;
  }

  .mb-10 {
    margin-bottom: 6rem !important
  }
}

/* ========== END MEDIA QUERIES ========== */