/* ========== START MEDIA QUERIES ========== */
/* Large devices (min-width: 1200px) */
@media (min-width: 1200px) {
  .timeline>li:nth-child(odd) .line:before {
    top: clamp(10rem, 9rem, 13rem);
    left: clamp(42rem, 40rem, 44rem);
    height: 9.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: clamp(9rem, 9rem, 10rem);
    left: clamp(32rem, 29rem, 35rem);
    height: 9.25rem;
  }
}

/* Medium devices (min-width: 992px) and (max-width: 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 30px;
  }

  .timeline>li .timeline-panel {
    padding: 0 30px 20px 100px;
  }

  .timeline>li:nth-child(even) {
    right: -2.5rem;
  }

  .timeline>li:nth-child(odd) .line:before {
    top: 10rem;
    left: 33rem;
    height: 6.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: 10rem;
    left: 25rem;
    height: 6.25rem;
  }

  .priority-dropdown-styles {
    width: 34vw;
  }
}

/* Medium devices (min-width: 992px) */
@media (min-width: 992px) {
  .card-title {
    font-size: clamp(1.5rem, 1.6vw, 2rem);
  }

  .card-subtitle {
    font-size: clamp(1.25rem, 1.6vw, 1.75rem);
  }

  .card-link {
    font-size: clamp(0.8rem, 1.6vw, 1rem);
  }

  .animated-mobile-menu {
    display: none;
  }

  .navMenu {
    display: flex !important;
  }
}

/* Medium and small devices (max-width: 992px) */
@media (max-width: 992px) {
  .animated-mobile-menu {
    display: flex;
  }

  .navbar-nav {
    line-height: .7em;
  }

  .container-for-mediaquery {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    border: none;
    margin-right: 1rem !important;
    display: flex;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    padding: 1.2rem;
    margin-top: -4.5rem;
  }

  .nav-link-custom-css {
    display: flex;
    justify-content: flex-end;
    padding: .75rem;
    margin-right: 1rem !important;
  }

  .brand,
  .secondary-brand-styles {
    margin-left: 1rem;
  }

  .hero-container {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .photo-container {
    width: 20vw;
    height: auto;
    overflow: visible;
  }

  .cd-photo {
    min-height: 35vh;
    width: 100%;
    margin-left: 1rem;
  }

  .hero-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
    margin-right: 1rem;
  }

  .card-body {
    width: 80vw;
  }

  .stack-quote-photo {
    display: flex;
    flex-direction: column;
  }

  .cd-group-photo {
    min-height: 25vh;
    background-position: center;
    width: 80vw;
  }

  .timeline-container {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .issues-header-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
  }

  .dropdown-left,
  .dropdown-right {
    justify-content: center;
  }

  .priority-dropdown-styles {
    width: 100%;
    min-width: fit-content;
    font-size: clamp(0.8rem, 1.6vw, 1rem);
  }

  .dropdown-menu {
    transform: translate3d(0px, 36px, 0px) !important;
  }
}

/* Extra small devices (max-width: 991px) */
@media (max-width: 991px) {
  .navMenu {
    display: none;
  }
}

/* Small devices (min-width: 768px) and (max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
    height: 13.75rem;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 70%;
    text-align: left;
    padding: 0 0 20px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    text-align: right;
    padding: 0 0 20px;
  }

  .timeline>li .line {
    display: none;
  }

  .timeline>li:nth-child(odd) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline .timeline-panel {
    padding-right: 40px;
  }

  .timeline.timeline-inverted .timeline-panel {
    padding-left: 40px;
  }
}

/* Mobile devices (max-width: 768px) */
@media screen and (max-width: 768px) {
  .photo-container {
    width: 30vw;
    height: auto;
    overflow: visible;
  }

  .cd-photo {
    width: 100%;
    min-height: 30vh;
  }
}

/* Mobile devices (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li .timeline-image {
    position: static;
    width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
    float: left;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    float: left;
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 40px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 40px 0;
  }

  .timeline>li .line {
    display: none;
  }

  .timeline>li .timeline-panel {
    text-align: left;
    left: 0;
  }
}

/* Small devices (min-width: 768px) and (max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
    height: 13.75rem;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 70%;
    text-align: left;
    padding: 0 0 20px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    text-align: right;
    padding: 0 0 20px;
  }

  .timeline>li .line {
    display: none;
  }

  .timeline>li:nth-child(odd) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline>li:nth-child(even) .line:before {
    top: 10rem;
    height: 9.25rem;
  }

  .timeline .timeline-panel {
    padding-right: 40px;
  }

  .timeline.timeline-inverted .timeline-panel {
    padding-left: 40px;
  }
}

/* ========== END MEDIA QUERIES ========== */